@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist);
  --color-bg: #F4F6F9;
  --color-surface: #FFFFFF;
  --color-border: #E2E8F0;
  --color-text-primary: #0D1117;
  --color-text-secondary: #57606A;
  --color-accent: #2F81F7;
  --color-accent-hover: #1A6FE0;
  --color-success: #2EA043;
  --color-warning: #D29922;
  --color-danger: #DA3633;
  --color-muted: #57606A;
}

.dark {
  --color-bg: #0D1117;
  --color-surface: #161B22;
  --color-border: #21262D;
  --color-text-primary: #E6EDF3;
  --color-text-secondary: #8B949E;
  --color-accent: #2F81F7;
  --color-accent-hover: #388BFD;
  --color-success: #3FB950;
  --color-warning: #E3B341;
  --color-danger: #F85149;
  --color-muted: #8B949E;
}